<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FoodPlace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="landing">
        <div class="landing-content">
            <h1 bla>FoodPlace</h1>
            <h2>Les meilleurs restaurants autour de vous</h2>
            <ion-button routerLink="/list">Découvrir</ion-button>
            <p expand>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus fugit omnis sit ipsam praesentium facilis fugiat voluptatum saepe pariatur nesciunt. Dignissimos praesentium quasi tempora quas similique! Doloremque cumque modi quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint laborum, iusto, ipsum error labore maxime debitis neque quos voluptatum ipsam porro consequuntur omnis rerum nihil enim aut iste est accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo dignissimos, vero porro, autem culpa aliquid id non incidunt magnam eius adipisci architecto illum quos accusamus quisquam beatae ab debitis!</p>
        </div>
    </div>
</ion-content>
