<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Restaurants</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button tab="list">
              <ion-icon name="list"></ion-icon>
              <ion-label>Liste</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="map">
              <ion-icon name="map"></ion-icon>
              <ion-label>Carte</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/add" color="tertiary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
